body {
    background-image: url("fon.jpg");
    background-size: 250px 250px;
    background-repeat: repeat;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    color: orange;
  }

.container {
    width: 100%;
    max-width: 748px;
    padding: 20px;
    margin: 0 auto;
    background-color: #FFFFFF;
  }

  .menu-head {
      display: flex;
      justify-content: center;

      
  }

  .menu-head li {
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    

   
    }

    .header-about-me {
        display: flex;
        }

.image-box {
    margin-right: 20px;
}

.photo {
    border-radius: 50%;
    }

    .podval {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .year {
        font-size: 30px;
    }

    .spisok {
        list-style: square outside;
        margin-left: 20px;
    }